@font-face {
  font-family: "Valentine";
  font-style: normal;
  font-weight: normal;
  src: local("Valentine"), url("./fonts/VALENTIN.woff") format("woff");
}
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Valentine";
  background: #475c7a;
}
.container {
  height: 500px;
  width: 600px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page {
  padding: 10px;
  position: absolute;
  left: 200px;
  height: 550px;
  width: 355px;
  background-color: #fff;
  transform-origin: left;
  transform-style: preserve-3d;
  border-radius: 0 10px 10px 0;
  box-shadow: inset 0 0 2px rgba(0,0,0,.3);
}
.backward {
  left: 200px;
  padding: 10px;
  height: 550px;
  width: 350px;
  background: #fcbb6d;
  z-index: -4;
  position: relative;
  transform: rotate(-8deg);
  border-radius: 10px;
}
.backfront {
  left: 200px;
  padding: 10px;
  height: 550px;
  z-index: -1;
  width: 350px;
  /* background-color: #d8737f; */
  background-color: #d8737f;
  border-radius:0 10px 10px 0;
  position: absolute;
}
.cover {
  background-color: #d8737f;
}
.front {
  color: black;
  position: absolute;
  top: 0;
  height: 100%;
  width: 355px;
  backface-visibility: hidden;
  transform: rotateY(0deg);
}
.back {
  color: black;
  position: absolute;
  top: 0;
  height: 100%;
  width: 355px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.backcover {
    border-radius: 10px 0 0 10px;
  background-color: #d8737f;
}
.frontcover {
  width: 350px;
  color: #fff;
  background-color: #d8737f;
  text-align: center;
  font-size: 15px;
}
.title {
    top:3%;
    left: 5%;
  position: absolute;
  top: 0;
  font-size: 18px;
}
.animationOpen {
  animation: openPage 1s linear forwards;
}
.animationClose {
  animation: closePage 1s linear;
}
@keyframes openPage {
  0% {
    transform: perspective(1500px) rotateY(0deg);
    z-index: 10;
  }
  100% {
    transform: perspective(1500px) rotateY(-180deg);
  }
}
@keyframes closePage {
  0% {
    transform: perspective(1500px) rotateY(-180deg);
    z-index: 10;
  }
  100% {
    transform: perspective(1500px) rotateY(0deg);
  }
}
.container-heart {
  position: absolute;
  top: 35%;
  left: 27.5%;
}
.icon {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.5;
  cursor: pointer;
  position: relative;
}
svg {
  overflow: visible;
  /* width:10rem; */
}
path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.heart path {
  animation: stroke-animation 3s infinite alternate;
}

.heart-background path {
  animation: fade-animation 3s infinite;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
    /* stroke-dasharray: 0 50%; */
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: #fff;
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 4000;
    fill: #fff;
    /* stroke-dasharray: 0 50%; */
  }
}
@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: rgba(255, 255, 255, 0.7);
    opacity: 1;
    transform: scale(1.1);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
.open-container{
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    right: -5%;
}
.open-container img{
    width:90px;
    position: relative;
    z-index: -1;
}
.open-container .title-open{
    bottom: 38px;
    color: #d8737f;
    position: absolute;
    right: 8px;
}
.svg-cont{
    position: absolute;
    left: 5%;
    bottom: -60%;
    width: 325px;
}
.svg-cont-two{
    position: absolute;
    left: 5%;
    bottom: -20%;
    width: 325px;
}

.svg-cont svg,.svg-cont-two svg{
    width: 325px;
}

.lol{
    margin-top: 200px;
    color:#1bbc9b;
    text-align:center;
    font-size:20px;
}
.svg-image{
  width:200px;
  margin-top: 25px;
  margin-left: 80px;
}
#heart2-back,#heart-back{
    animation: heart-animation 3s infinite;
}

.img-page-01{
  width:350px;
  margin-top:40px;
}
.img-page-02{
  width:300px;
  margin-top: 30px;
  margin-left: 25px;
}
.img-page-03{
  height:300px;
  margin-top: 30px;
  margin-left: 90px;
}
.img-page-04{
  width:300px;
  margin-top: 50px;
  margin-left: 30px;
}
.svg-image-03{
  margin-top:20px;
  margin-left: 30px;
}
.img-page-03{
  height:300px;
  margin-top: 10px;
  margin-left: 90px;
}
.svg-image-04{
  width:250px;
  margin-top:20px;
  margin-left: 50px;
}
.img-page-05{
  height:325px;
  margin-left: 90px;
}
.img-page-06{
  margin-top:40px;
  height:300px;
  margin-left: 90px;
}
.img-page-07{
  margin-top:40px;
  width:300px;
  margin-left: 20px;
}
.svg-image-06{
  margin-top:40px;
}
.back-text{
  color:#fff;
  width:80%;
  margin-top: 180px;
  text-align: center;
  font-size: 20px;
  margin-left: 10%;
}
@keyframes heart-animation {
    0% {
        stroke: rgba(255, 255, 255, 0.5);
		stroke-width: 10px;
       
	}
    30%{
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 20px;
    }
    60%{
        stroke: rgba(255, 255, 255, 0.7);
        stroke-width: 30px;
    }
    90%{
        stroke: rgba(255, 255, 255, 0.8);
        stroke-width: 40px;
    }
	100% {
        stroke: rgba(255, 255, 255, 0.9);
		stroke-width: 50px;
	}
  }
  
.first-img{
    margin-top:30px;
    margin-left: -20px;
    width:300px;
}
.second-img{
    margin-top:90%;
    margin-left: 30px;
    width:300px;
}


.text-init{
  margin-left: 20%;
  margin-top: 130px;
  width:60%;
  text-align: center;
  color:#d8737f;
}
.next{
  color:#d8737f;
  float: right;
  margin-top: 40px;
  font-size: 25px;
  margin-right: 20px;
}

@media screen and (max-width: 500px){
    .container {
        top: 60%;
        left: 72%;
      }
      .title{
          font-size: 14px;
      }
    .page {
        height: 275px;
        width: 175px;
      }
      .backward {
        height: 275px;
        width: 175px;
      }
      .backfront {
        height: 275px;
        width: 175px;
      }
      .front {
        height: 275px;
        width: 175px;
      }
      .back {
        height: 275px;
        width: 175px;
      }
      .page {
        height: 275px;
        width: 175px;
      }
      .icon svg{
          width:100px;
      }
      .open-container img{
          width:50px;
      }
      .open-container .title-open{
          bottom: 20px;
          right: 2px;
          font-size: 10px;
      }
      .container-heart {
        left: 25%;
      }
      .lol{
          margin-top: 100px;
          font-size:12px;
      }
      .text-init{
        font-size: 11px;
        margin-top: 60px;
      }
      .next{
        margin-top: 5px !important;
        font-size: 12px !important;
        margin-right: 20px;
      }
      .svg-image{
        margin-top: 10px;
        width: 100px;
        margin-left: 50px;
      }
      .img-page-01{
        width:175px;
        margin-top:20px;
      }
      .img-page-02{
        width:175px;
        margin-top: 30px;
        margin-left: 0;
      }
      .img-page-03{
        height:175px;
        margin-top: 30px;
        margin-left: 90px;
      }
      .img-page-04{
        width:155px;
        margin-top: 10px;
        margin-left: 10px;
      }
      .svg-image-03{
        width: 200px;
        margin-top:20px;
        margin-left: 0;
      }
      .img-page-03{
        height:175px;
        margin-top: 10px;
        margin-left: 40px;
      }
      .svg-image-04{
        width:100px;
        margin-top:20px;
        margin-left: 50px;
      }
      .img-page-05{
        height:175px;
        margin-left: 45px;
      }
      .img-page-06{
        margin-top:10px;
        height:175px;
        margin-left: 30px;
      }
      .img-page-07{
        margin-top:20px;
        width:175px;
        margin-left: 0px;
      }
      .svg-image-06{
        margin-top:40px;
        width:150px;
      }
      .back-text{
        color:#fff;
        width:80%;
        margin-top: 50px;
        text-align: center;
        font-size: 14px;
        margin-left: 10%;
      }
}
